#container {
  min-width:370px;
  width:370px;
  padding-left:20px;
  padding-right:5px;
  border-radius:10px;
  background-image: url('https://i.ibb.co/CW9kp4b/Lola-Floral-final-image.jpg');
  margin:0 auto;
  margin-top:50px;
  padding-top:40px;
  padding-bottom:20px;
}

body {
  background-color:rgb(255, 248, 234);
}

#screen {
  border: 1px solid lightgray;
  border-radius: 10px;
  height:101px;
  width:340px;
  font-size:60px;
  line-height:100px;
  vertical-align:middle;
  margin-bottom:10px;
  font-family:'Courier New';
  text-align:right;
  color:gray;
  padding-right:10px;
  background-color:white;
}
.btn, #equals, #decimal, #plus, #minus, #times, #divide {
  max-width:85px;
  max-height:85px;
  width:85px;
  height:85px;
  font-size:40px;
  border-radius:10px;
  margin-bottom:5px;
  background-color:white;
  color:rgb(88, 88, 88);
  cursor:pointer;

}
.btn-wide {
  width:175px !important;
  padding:none;
  height:85px;
  font-size:30px;
  border-radius:10px;
  margin-bottom:5px;
  background-color:white;
  color:rgb(88, 88, 88);
  cursor:pointer;
}

.operator {
  background-color:rgb(255, 232, 241) !important;
  width:85px;
  height:85px;
  font-size:40px;
  border-radius:10px;
  margin-bottom:5px;
  color:rgb(88, 88, 88);
  cursor:pointer;
}

.backspace {
};